fastapi==0.141.1
uvicorn[standard]==0.52.3
psycopg2-binary==2.9.12
pyproj==3.7.2
shapely==2.1.2
python-dotenv==1.2.3
numpy==2.5.2
scipy==1.18.0
rasterio==1.5.1
eclipse-sumo==1.27.1
traci==1.27.1
sumolib==1.27.1
cdsapi==0.7.7
